* {
    color: #ffffff;
    font-family: "Roboto";
}

:root {
    --primary-color: #FF004C;
}

#valorantlogo-img {
    width: 20%;
}

#logout-img {
    width: 15%;
}

#valorantlogo-img > img, #logout-img > img {
    width: 100%;
}

h1, h2 {
    margin: 0;
    font-family: "Roboto";
    font-weight: bolder;
}

header {
    width: 100%;
}

.header-container {
    background-color: var(--primary-color);
    padding-left: 3.5%;
    padding-right: 3.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.main-container {
    padding-top: 4%;
    padding-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-container {
    text-align: center;
    font-weight: bolder;
    font-size: 150%;
    margin-bottom: 4%;
    margin-top: 2%;
}

.search-container {
    display: flex;
    padding-top: 6%;
    padding-bottom: 8%;
    width: 65%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    border: 10px solid var(--primary-color);
    border-radius: 25px 25px;
    box-shadow: 0px 0px 15px var(--primary-color);
    margin-bottom: 5%;
}

.search-container > h2 {
    color: black;
    font-size: 300%;
    text-shadow: 0px 2px 4px rgb(151, 151, 151);
    margin-bottom: 3%;
}

.search-container > input {
    border-radius: 20px 20px;
    margin-bottom: 6%;
    padding: 2%;
    text-align: center;
    width: 75%;
    color: #000000;
    border: 3px solid black;
}

.search-guide-container {
    border-radius: 25px 25px;
    padding: 4%;
    background-color: #2CEE9C;
    border: 10px solid #26C884;
    box-shadow: 0px 0px 15px #2CEE9C;
    width: 57%;
    margin-bottom: 5%;
}

.search-guide-container > h2 {
    text-align: center;
    font-size: 190%
}

#players-leaderboard {
    padding: 4%;
    width: 70%;
    border: 10px solid #4b6875;
    border-radius: 25px 25px;
    background-color: #5c7e8e;
    box-shadow: 0px 0px 15px #5c7e8e;
    min-height: 40vh;
}

.search-error {
    color: #ff0000;
    font-size: 100%;
    margin-bottom: 6%;
}

.submit-button {
    border-radius: 5px 5px;
    padding: 1%;
    width: 80%;
    background-color: var(--primary-color);
    font-size: 90%;
    font-weight:bold;
    border: 3px solid #bf0039;
}

body {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #0F1A27;
}

.footer-container {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.socials-container {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 39%;
    padding-top: 7%;
    padding-bottom: 7%;
    padding-right: 2%;
}

#twitterlogo-img, #facebooklogo-img, #instagramlogo-img {
    width: 22%;
    border-radius: 5px 5px;
}